::deep .kanban-column-grid {
    height: 360px;
    background: transparent;
    border: none;
}

::deep .kanban-column-grid .kanban-drag-anchor {
    padding: 0;
}

::deep .kanban-column-grid .kanban-drag-anchor + td {
    padding: 0 !important;
}

::deep .kanban-column-grid .kanban-drag-anchor + td * {
    padding: 0 !important;
}

::deep .kanban-column-grid .dxbl-grid-indent-cell-size {
    width: 100% !important;
}

::deep .kanban-column-grid .dxbl-grid-indent-cell-size + col {
    width: 0px !important;
}

::deep .kanban-column-grid .dxbl-grid-header-row {
    display: none;
}

::deep .kanban-column-grid .dxbl-scroll-viewer {
    background: transparent !important;
}

::deep .kanban-column-grid .dxbl-grid-table {
    border: none !important;
    border-spacing: 0 10px;
    border-collapse: separate;
}

::deep .kanban-column-grid .dxbl-grid-table tr {
    background: transparent !important;
}

::deep .kanban-column-grid .dxbl-grid-table td {
    background: transparent !important;
}