::deep .kanban-layout-grid{
    border: none;
    height: 460px;
}

::deep .kanban-layout-grid > .dxbl-scroll-viewer > .dxbl-scroll-viewer-content > .dxbl-grid-table {
    border-collapse: separate;
    border-spacing: 2rem 0px;
    border: none;
}

::deep .kanban-layout-grid .dxbl-grid-empty-data-area {
    padding: 0.5rem;
}

::deep .kanban-layout-grid > .dxbl-scroll-viewer > .dxbl-scroll-viewer-content > .dxbl-grid-table > tbdoy > tr.dxbl-grid-empty-row > .dxbl-grid-empty-data-area * {
    display: none !important;
}

::deep .kanban-layout-grid .dxbl-grid-empty-row {
    border: none;
}